<div ng-controller="ElosController" ng-init="initialize()">
  <progressbar class="progress-striped active" ng-show="progress.message" max="progress.total" value="100"><span style="color:white; white-space:nowrap;">{{progress.message}}</span></progressbar>
  <div google-chart chart="eloChart" on-ready="clear_progress()" style="height:600px; width:100%;">
  </div>
</div>
