<div class="single-import" id="single-import-div">
  <input class="ui-widget ui-state-default ui-corner-all ui-button-text-only" id="single-import-field" name="name" size="100" type="text">
  <button id="single-add-button">Add</button>
</div>
<div id="radio-div" class="radio">
  <input type="radio" groupname="season" grouping="season_id" id="season-radio" name="radio" /><label for="season-radio">Season</label>
  <input type="radio" groupname="team" grouping="name" id="team-radio" name="radio" /><label for="team-radio">Team</label>
</div>
<hr id="data-hr">
<div id="data-div">
</div>

<%= javascript_tag("jQuery.ready(jQuery('button').button())") %>
<%= javascript_tag("jQuery.ready(jQuery('#radio-div').buttonset())") %>
